{% extends "layout.html" %}
{% block content %}

<h4>Your test on testbed {{ test_bed }} has finished.</h4>
<h4>Test Result Summary</h4>
<blockquote>
    <table style="color: #555; padding: 3px 6px; font-size: .9em;">
        {% for row in res_summary %}
        <tr>

            <td style="width: 240px">{{ row.Name }}:</td>
            <td style="color: Green; width: 100px">Pass: {{ row.Pass }}</td>
            <td style="color: red; width: 100px">Fail: {{ row.Fail }}</td>
            <td style="color: black; width: 100px">Skip: {{ row.Skip }}</td>
        </tr>
        {% endfor %}
    </table>
</blockquote>
<hr>
<h4>Test Execution Summary</h4>
<blockquote>
    <table style="color: #555; padding: 3px 6px; font-size: .9em;">
        {% for key, val in exec_summary.items() %}
            {% if key == 'Testsuite Topology git' %}
                <tr>
                    <td style="width: 240px">{{ key }}:</td>
                    <td><a href="{{ val }}" target="_blank" class="logs-link">{{val}}</a></td>
                </tr>
            {% else %}
                <tr><td style="width: 240px">{{ key }}:</td><td>{{ val }}</td></tr>
            {% endif %}
        {% endfor %}
    </table>
</blockquote>
<hr>
<h4>Test Logs</h4>
<blockquote>
    <table style="color: #404040; padding: 3px 6px; font-size: .9em;" >
        {% for row in logs %}
        <tr>
            <td style="width: 240px">{{ row.Name }}:</td>
            <td><a href="{{ row.Link }}" target="_blank" class="logs-link">{{ row.Display }}</a></td>
        </tr>
        </tr>
        {% endfor %}
    </table>
</blockquote>
<hr>
<h4>Test Result Details</h4>
<blockquote>
  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;border-color:black;}
    .tg td{font-family:Times New Roman, Times;font-size:15px;padding:10px 5px;border-style:solid;border-width:1px;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
    .tg th{font-family:Times New Roman, Times;font-size:17px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:1px;word-break:normal;border-color:#aabcfe;color:white;background-color:#b9c9fe;}
    .tg .tg-heading{background-color:#000080;text-align:center;vertical-align:top}
    .tg .tg-passed-even{background-color:white;color:black;text-align:left;vertical-align:top;}
    .tg .tg-passed-even a{color: black;}
    .tg .tg-passed-odd{background-color:#eaeaea;color:black;text-align:left;vertical-align:top;}
    .tg .tg-passed-odd a{color: black;}
    .tg .tg-failed-even{background-color:white;color:red;text-align:left;vertical-align:top;}
    .tg .tg-failed-even a{color:red;}
    .tg .tg-failed-odd{background-color:#eaeaea;color:red;text-align:left;vertical-align:top;}
    .tg .tg-failed-odd a{color:red;}
    .tg .tg-skipped-even{background-color:white;color:grey;text-align:left;vertical-align:top;}
    .tg .tg-skipped-even a{color:grey;}
    .tg .tg-skipped-odd{background-color:#eaeaea;color:grey;text-align:left;vertical-align:top;}
    .tg .tg-skipped-odd a{color:grey;}

  </style>
  <table class="tg">
  <tr>
    <th class="tg-heading">Type</th>
    <th class="tg-heading">Name</th>
    <th class="tg-heading">Status</th>
    <th class="tg-heading">Start Time</th>
    <th class="tg-heading">End Time</th>
  </tr>

        {% for row_item in test_details %}
            {% if loop.index % 2 ==0 %}
                {% if row_item.result == 'PASSED' %}
                    <tr>
                        {% if row_item.type_link == '' %}
                            <td class="tg-passed-even">{{ row_item.type }}</td>
                        {% else %}
                            <td class="tg-passed-even"><a href="{{ row_item.type_link }}" target="_blank">{{ row_item.type}}</a></td>
                        {% endif %}
                        <td class="tg-passed-even"><a href="{{ row_item.log_link }}" target="_blank">{{ row_item.title}}</a>
                            <ul>
                                {% for stage in row_item.failed_stage %}
                                    <li>{{ stage }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="tg-passed-even">{{ row_item.result }}</td>
                        <td class="tg-passed-even">{{ row_item.starttime }}</td>
                        <td class="tg-passed-even">{{ row_item.endtime }}</td>
                    </tr>
            {% elif row_item.result == 'FAILED' %}
                <tr>
                    {% if row_item.type_link == '' %}
                        <td class="tg-failed-even">{{ row_item.type }}</td>
                    {% else %}
                        <td class="tg-failed-even"><a href="{{ row_item.type_link }}" target="_blank">{{ row_item.type}}</a></td>
                    {% endif %}
                    <td class="tg-failed-even"><a href="{{ row_item.log_link }}" target="_blank">{{ row_item.title}}</a>
                        <ul>
                            {% for stage in row_item.failed_stage %}
                                <li>{{ stage }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    {% if row_item.dts_jira_link == '' %}
                        <td class="tg-failed-even">{{ row_item.result}}</td>
                    {% else %}
                        <td class="tg-failed-even"><a href="{{ row_item.dts_jira_link }}" target="_blank">{{ row_item.result}}</a></td>
                    {% endif %}
                    <td class="tg-failed-even">{{ row_item.starttime }}</td>
                    <td class="tg-failed-even">{{ row_item.endtime }}</td>
                </tr>
            {% else %}
                <tr>
                    {% if row_item.type_link == '' %}
                        <td class="tg-skipped-even">{{ row_item.type }}</td>
                    {% else %}
                        <td class="tg-skipped-even"><a href="{{ row_item.type_link }}" target="_blank">{{ row_item.type}}</a></td>
                    {% endif %}
                    <td class="tg-skipped-even"><a href="{{ row_item.log_link }}" target="_blank">{{ row_item.title }}</a></td>
                    <td class="tg-skipped-even"><a href="{{ row_item.dts_jira_link }}" target="_blank">{{ row_item.result}}</a></td>
                    <td class="tg-skipped-even">{{ row_item.starttime }}</td>
                    <td class="tg-skipped-even">{{ row_item.endtime }}</td>
                </tr>
            {% endif %}
        {% else %}
            {% if row_item.result == 'PASSED' %}
                <tr>
                    {% if row_item.type_link == '' %}
                        <td class="tg-passed-odd">{{ row_item.type }}</td>
                    {% else %}
                        <td class="tg-passed-odd"><a href="{{ row_item.type_link }}" target="_blank">{{ row_item.type}}</a></td>
                    {% endif %}
                    <td class="tg-passed-odd"><a href="{{ row_item.log_link }}" target="_blank">{{ row_item.title }}</a>
                        <ul>
                            {% for stage in row_item.failed_stage %}
                                <li>{{ stage }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="tg-passed-odd">{{ row_item.result }}</td>
                    <td class="tg-passed-odd">{{ row_item.starttime }}</td>
                    <td class="tg-passed-odd">{{ row_item.endtime }}</td>
                </tr>
            {% elif row_item.result == 'FAILED' %}
                <tr>
                    {% if row_item.type_link == '' %}
                        <td class="tg-failed-odd">{{ row_item.type }}</td>
                    {% else %}
                        <td class="tg-failed-odd"><a href="{{ row_item.type_link }}" target="_blank">{{ row_item.type}}</a></td>
                    {% endif %}
                    <td class="tg-failed-odd"><a href="{{ row_item.log_link }}" target="_blank">{{ row_item.title }}</a>
                        <ul>
                            {% for stage in row_item.failed_stage %}
                                <li>{{ stage }}</li>
                            {% endfor %}
                        </ul>                
                    </td>
                    {% if row_item.dts_jira_link == '' %}
                        <td class="tg-failed-even">{{ row_item.result}}</td>
                    {% else %}
                        <td class="tg-failed-even"><a href="{{ row_item.dts_jira_link }}" target="_blank">{{ row_item.result}}</a></td>
                    {% endif %}
                    <td class="tg-failed-odd">{{ row_item.starttime }}</td>
                    <td class="tg-failed-odd">{{ row_item.endtime }}</td>
                </tr>
            {% else %}
                <tr>
                    {% if row_item.type_link == '' %}
                        <td class="tg-skipped-odd">{{ row_item.type }}</td>
                    {% else %}
                        <td class="tg-skiped-odd"><a href="{{ row_item.type_link }}" target="_blank">{{ row_item.type}}</a></td>
                    {% endif %}
                    <td class="tg-skipped-odd"><a href="{{ row_item.log_link }}" target="_blank">{{ row_item.title }}</a></td>
                    <td class="tg-skipped-odd"><a href="{{ row_item.dts_jira_link }}" target="_blank">{{ row_item.result }}</a></td>
                    <td class="tg-skipped-odd">{{ row_item.starttime }}</td>
                    <td class="tg-skipped-odd">{{ row_item.endtime }}</td>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
   </table>
</blockquote>
{% endblock %}
